:root {
    --hero-bg: var(--orange-pastel);
    --hero-gradient-bg: linear-gradient(47deg, var(--orange-pastel) 0%, var(--greenish-yellow) 100%);
}

.hero {
    position: relative;

    padding-top: 79px;
    padding-bottom: 213px;
    margin-bottom: 44px;

    background-color: var(--hero-bg);
    background-image: var(--hero-gradient-bg);
    border-radius: 0 0 16px 16px;
}

.hero__container::after {
    content: '';
    
    display: block;

    position: absolute;
    bottom: -44px;
    right: calc(var(--container-padding) + 7px);
    z-index: 2;

    width: calc(100vw / (320 / 261));
    height: calc(100vw / (320 / 230)) ;
    min-width: 261px;
    min-height: 230px;
    max-width: 382px;
    max-height: 337px;

    background-image: url(../../img/hero-image/cheese-slice-of-pizza-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero__content {
    position: relative;
    z-index: 5;

    max-width: 300px;
}

.hero__title {
    margin-bottom: 12px;

    font-weight: 900;
    font-size: 38px;
    line-height: 1;
}

.hero__tagline {
    padding-left: 32px;
    margin-bottom: 24px;

    background-image: url(../../img/icons/delivery-pizza.svg);
    background-repeat: no-repeat;
    background-position: left;

    font-size: 14px;
}

.hero__order {
    padding: 8px 24px;
    
    background-color: var(--light);
    border-radius: 32px;

    color: var(--orange);
    font-weight: 600;
    font-size: 14px;
    line-height: var(--font-base-line-height);

    transition: 
        color 0.3s ease,
        background-color 0.33s ease,
        transform 0.3s ease;
}

.hero__order:hover {
    padding: 7px 23px;

    background-color: var(--orange);
    border: 1px solid var(--light);

    color: var(--light);
}

.hero__order:active {
    transform: scaleY(0.93);
}


@media (width >= 640px) {
    .hero {
        padding-top: 116px;
        padding-bottom: 90px;
        margin-bottom: 60px;

        border-radius: 0 0 32px 32px;
    }

    .hero__container::after {
        bottom: -60px;
        right: calc(var(--container-padding) + 10px);
    }

    .hero__content {
        max-width: 560px;
    }

    .hero__title {
        margin-bottom: 24px;
    
        font-size: 64px;
    }

    .hero__tagline {
        margin-bottom: 50px;

        font-size: 20px;
    }

    .hero__order {
        font-size: 20px;
    }
}

@media (width >= 900px) {
    .hero {
        padding-top: 126px;
        padding-bottom: 80px;
        margin-bottom: 82px;
    }

    .hero__container::after {
        bottom: -82px;
        right: calc(var(--container-padding) - 7px);

        max-width: 566px;
        max-height: 499px;
    }
}

@media (width >= 1140px) {
    .hero {
        padding-top: 140px;
        padding-bottom: 100px;
        margin-bottom: 87px;
    }

    .hero__container::after {
        bottom: -87px;
        right: calc(var(--container-padding) + 29px);

        max-width: 670px;
        max-height: 591px;
    }

    .hero__content {
        max-width: 620px;
    }

    .hero__title {
        margin-bottom: 24px;
    
        font-size: 80px;
    }

    .hero__tagline {
        margin-bottom: 50px;
    }
}

@media (width >= 1540px) {
    .hero__container::after {
        bottom: -87px;
        right: 20%;
    }
}