.card {
    display: flex;
    flex-direction: column;
    align-items:center;

    position: relative;

    padding-top: 35px;
}

.card__image {
    position: absolute;
    top: 0;

    width: 80px;
}

.card__content {
    width: 100%;
    padding: 48px 8px 8px;

    background-color: var(--white);
    border-radius: 16px;
}

.card__title {
    margin-bottom: 4px;

    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.card__info {
    display: flex;
    justify-content: center;
    gap: 4px;

    margin-bottom: 16px;

    color: var(--beige);
    font-size: 14px;
    text-align: center;
}

.card__price {
    color: var(--dark);
    font-weight: 600;
    font-size: 14px;
}

.card__button {
    width: 100%;
    padding: 8px 24px;

    background-color: var(--light);
    border-radius: 32px;

    color: var(--orange);
    font-size: 14px;
    line-height: var(--font-base-line-height);
}



@media (width >= 640px) {
    .card {
        padding-top: 46px;
    }

    .card__image {
        width: 180px;
    }

    .card__content {
        padding: 146px 24px 24px;
        border-radius: 32px;
    }

    .card__title {
        font-size: 24px;
    }
    
    .card__info {
        gap: 8px;
    
        margin-bottom: 24px;
    
        font-size: 20px;
    }
    
    .card__price {
        font-size: 20px;
    }
    
    .card__button {
        font-size: 20px;
    }

}